################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Utility/bin/Debug
/.vs
/DemoCore/obj
/DemoCore/bin
/Utility/obj/Debug
/DemoService/obj
/DemoService/bin/Release
/DemoService/bin/Debug
/DemoModel/bin
/DemoModel/obj/Debug
/DemoModel/obj/Release
/DemoCore/.vs/Demo.Core/v15
/Medician/obj/Debug
/Medician/bin
